@{
    ViewBag.Title = "Тур по административной панеле";
    Layout = "~/Views/Shared/_ControlsystemLayout.cshtml";
}



    <div>
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Content("~/Controlsystem/Mainpage")">Главная</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="#">Тур по административной панеле</a>
            </li>
        </ul>
    </div>

    <div class="row-fluid sortable">
        <div class="box span12 tour">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-globe"></i>Тур по административной панеле <label id="for-admtour" for="admtour" /></h2>
                <div class="box-icon">
                    
                </div>
            </div>
            <div class="box-content">
                В данном туре вы можете ознакомиться с функционалом административной панели. <br />
              </div>
        </div><!--/span-->
    </div><!--/row-->
    <!-- content ends -->
