@{
    ViewBag.Title = "УПР: Наши партнеры";
}





    <div class="row">
        <div class="span12">
         
            <div class="social-box">
                <div class="header"><span class="icon32  icon-arrowstop-e"></span>Наши партнеры</div>
            </div>

        </div>

    </div>






  <!--planning-->


    <div class="row">
        <!-- portfolio_block -->
        <div class="projects">

            ​<div class="span3 element category01" data-category="category01">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/Koru.png" alt="" />

                    </div>
                    <div class="item_description">
                        <h6>KORU (Германия)</h6>
                       
                    </div>
                </div>
            </div>
            <div class="span3 element category02" data-category="category02">
                <div class="thumbnail">
                    <div class="hover_img">
                        ​<img style="width:260px; height:135px;" src="~/Content/themes/img/companies/Bohmer_.png" alt="" />

                    </div>
                    <div class="item_description">
                        <h6>Bohmer (Китай) </h6>
                      
                    </div>
                </div>
            </div>
            <div class="span3 element category03" data-category="category03">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/Martinez_Ayala.jpg" alt="" />
           
                    </div>
                    <div class="item_description">
                        <h6>Martinez Ayala (Испания)</h6>
                      
                    </div>
                </div>
            </div>
            <div class="span3 element category01" data-category="category01">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/ECS.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h6>ECS (Великобритания)</h6>
                
                    </div>
                </div>
            </div>
            <div class="span3 element category03" data-category="category03">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/Pulse.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h6>Pulse (Англия)</h6>
                  
                    </div>
                </div>
            </div>
            <div class="span3 element category04" data-category="category04">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/Marks3Zet_.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h6>Marks3Zet (Германия)</h6>
               
                    </div>
                </div>
            </div>
            <div class="span3 element category05" data-category="category05">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/macdermind.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h6>MacDermind (Франция)</h6>
                  
                    </div>
                </div>
            </div>
            <div class="span3 element category05" data-category="category05">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/ContiTech.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h6>ContiTech (Германия)</h6>
               
                    </div>
                </div>
            </div>
            <div class="span3 element category06" data-category="category06">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/chet.png" alt="" />
                  
                    </div>
                    <div class="item_description">
                        <h6>Компания СНЕ.Т (Украина)</h6>
                     
                    </div>
                </div>
            </div>
            <div class="span3 element category06" data-category="category06">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/HUBER.jpg" alt="" />
                     
                    </div>
                    <div class="item_description">
                        <h6>HUBER (Германия)</h6>
                
                    </div>
                </div>
            </div>
            <div class="span3 element category03" data-category="category03">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/Prisco.jpg" alt="" />
                      
                    </div>
                    <div class="item_description">
                        <h6>Prisco (Бельгия)</h6>
                   
                    </div>
                </div>
            </div>
            <div class="span3 element category05" data-category="category05">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:260px; height:135px;" src="~/Content/themes/img/companies/Phoenix.jpeg" alt="" />
                       
                    </div>
                    <div class="item_description">
                        <h6>Phoenix (Германия)</h6>
               
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- //portfolio_block -->
    </div>
